body{
	background-color: #eee !important;	
}

#resultados{
		background-color: #d3d3d3;
		border-radius: 5px;
		min-height: 600px;
	}

@media screen and (min-width: 768px){
		.jumbotron {
			padding-top: 1px !important;
			padding-bottom: 0px !important;
		}
	}

#nome_destino{
	width: 90% !important;
	display: inline-block !important;
}

#pesquisar_destino span.input-group-btn{
	display: inline-block !important;
	position: relative;
    height: 34px;
    left: -5px;
    top: -1px;
}

#pesquisar_destino{
	margin: 22px 0px 0px 0px;
}
	
#botao_cadastrar{
	margin: 22px 0px 0px 0px;
}

#usuario, #senha{
	margin: 22px 0px 0px 0px;
}

#user_name, #password{
	display: inline-block !important; 
}

#usuario input, #senha input{
   width: 72%;
 }

 #ofertas_pag_ini div{
 	height: 700px;
 	background-color: #cdc;
 	text-align: center;
 	margin-top: 20px;
 }

 #ofertas_pag_ini span{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
 }

 #ofertas_pag_ini div{
    max-height: 500px;
    max-width: 33%;
    height: 500px;
    width: 32%;
    background-color: #ccc;
    margin: 20 5px;

 }