body{
	background-color: #eee !important;	
}

#resultados{
		background-color: #d3d3d3;
		border-radius: 5px;
		min-height: 600px;
	}

@media screen and (min-width: 768px){
		.jumbotron {
			padding-top: 1px !important;
			padding-bottom: 0px !important;
		}
	}

#nome_destino{
	width: 90% !important;
	display: inline-block !important;
}

#pesquisar_destino span.input-group-btn{
	display: inline-block !important;
	position: relative;
    height: 34px;
    left: -5px;
    top: -1px;
}

#pesquisar_destino{
	margin: 22px 0px 0px 0px;
}
	
#botao_cadastrar{
	margin: 22px 0px 0px 0px;
}

#usuario, #senha{
	margin: 22px 0px 0px 0px;
}

#user_name, #password{
	display: inline-block !important; 
}

#usuario input, #senha input{
   width: 72%;
 }